/*
 * Responsive Cat
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http://ldonis.com>
 * @package RCat Structure
 * @version 0.6.0
 */
/*
 *  Reset
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */
* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  color: inherit;
  list-style: none;
  text-decoration: none;
  background-color: inherit;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: Sans, sans-serif, Helvetica;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/*
 *  Inicializa
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */
body {
  font-size: 100%;
  font-style: normal;
  font-weight: 100;
}
/*  Estilo de titulos
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: inherit;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 2.38rem;
}
h2 {
  font-size: 2.15rem;
}
h3 {
  font-size: 1.92rem;
}
h4 {
  font-size: 1.69rem;
}
h5 {
  font-size: 1.46rem;
}
h6 {
  font-size: 1.23rem;
}

/*
 * Responsive Cat
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http://ldonis.com>
 * @package RCat Structure
 * @subpackage Grid System
 * @version 0.6.0
 */
/*
 * Contenedor de columnas automaticas y manuales
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http://ldonis.com>
 * @since 0.6.1
 */
.rgrid,
.rblock {
  width: 100%;
  font-size: 0;
  text-align: justify;
/**/
/*
     * Filas del grid
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http://ldonis.com>
     * @since 0.6.0
     */
/*
     * Grid
     * Ancho de columnas automaticas
     * columns-n = (width-margin)/n
     */
}
.rgrid:after,
.rblock:after {
  content: '';
  width: 100%;
  display: inline-block;
}
/*
     * Filas del grid
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http://ldonis.com>
     * @since 0.6.0
     */
.rgrid > *,
.rblock > * {
  height: 100%;
  font-size: initial;
  white-space: initial;
  display: inline-block;
}
.rgrid.columns-02 > * {
  width: 49.5%;
}
.rgrid.columns-03 > * {
  width: 32.66%;
}
.rgrid.columns-04 > * {
  width: 24.25%;
}
.rgrid.columns-05 > * {
  width: 19.2%;
}
.rgrid.columns-06 > * {
  width: 15.83%;
}
.rgrid.columns-07 > * {
  width: 13.42%;
}
.rgrid.columns-08 > * {
  width: 11.62%;
}
.rgrid.columns-09 > * {
  width: 10.22%;
}
.rgrid.columns-10 > * {
  width: 9.1%;
}
.rgrid.columns-11 > * {
  width: 8.18%;
}
.rgrid.columns-12 > * {
  width: 7.41%;
}
.rgrid > .column-1 {
  width: 9%;
}
.rgrid > .column-1:first-child {
  width: 10%;
}
.rgrid > .column-2 {
  width: 19%;
}
.rgrid > .column-2:first-child {
  width: 20%;
}
.rgrid > .column-3 {
  width: 29%;
}
.rgrid > .column-3:first-child {
  width: 30%;
}
.rgrid > .column-4 {
  width: 39%;
}
.rgrid > .column-4:first-child {
  width: 40%;
}
.rgrid > .column-5 {
  width: 49%;
}
.rgrid > .column-5:first-child {
  width: 50%;
}
.rgrid > .column-6 {
  width: 59%;
}
.rgrid > .column-6:first-child {
  width: 60%;
}
.rgrid > .column-7 {
  width: 69%;
}
.rgrid > .column-7:first-child {
  width: 70%;
}
.rgrid > .column-8 {
  width: 79%;
}
.rgrid > .column-8:first-child {
  width: 80%;
}
.rgrid > .column-9 {
  width: 89%;
}
.rgrid > .column-9:first-child {
  width: 90%;
}
.rgrid > div:first-child {
  margin-left: 0;
}
/*
 * Block
 * Ancho de columnas automaticas
 * columns-n = width/n
 */
.rblock.columns-02 > * {
  width: 50%;
}
.rblock.columns-03 > * {
  width: 33.33%;
}
.rblock.columns-04 > * {
  width: 25%;
}
.rblock.columns-05 > * {
  width: 20%;
}
.rblock.columns-06 > * {
  width: 16.66%;
}
.rblock.columns-07 > * {
  width: 14.28%;
}
.rblock.columns-08 > * {
  width: 12.5%;
}
.rblock.columns-09 > * {
  width: 11.11%;
}
.rblock.columns-10 > * {
  width: 10%;
}
.rblock.columns-11 > * {
  width: 9.09%;
}
.rblock.columns-12 > * {
  width: 8.33%;
}
.rblock > .column-1 {
  width: 10%;
}
.rblock > .column-2 {
  width: 20%;
}
.rblock > .column-3 {
  width: 30%;
}
.rblock > .column-4 {
  width: 40%;
}
.rblock > .column-5 {
  width: 50%;
}
.rblock > .column-6 {
  width: 60%;
}
.rblock > .column-7 {
  width: 70%;
}
.rblock > .column-8 {
  width: 80%;
}
.rblock > .column-9 {
  width: 90%;
}
/*
 * MediaQueries
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http://ldonis.com>
 * @since 0.6.0
 */
@media screen and (max-width: 320px) {
  .rgrid > *,
  .rblock > * {
    display: block;
    width: 100% !important;
    margin-left: 0 !important;
  }
}

/*
 * Responsive Cat
 *
 * This program is free software you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation either version 3 of the License or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not see <http//www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http//ldonis.com>
 * @package RCat Structure
 * @subpackage Formularios
 * @version 0.6.0
 */
/*
 * Formulario estandar
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
/*
     *  Controles de formularios
     */
.rform select,
.rform textarea,
.rform input:not([type="submit"]):not([type="button"]) {
  border-radius: 2px;
  letter-spacing: 0.01rem;
  padding: 0.35rem 0.4rem;
}
/*
     *  Campo del formulario activo
     */
.rform select:focus,
.rform textarea:focus,
.rform input:not([type="submit"]):not([type="button"]):focus {
  outline: none;
}
/*
     *  Botones de formularios
     */
.rform input[type="submit"],
.rform input[type="button"] {
  padding: 0.61rem 1rem;
}
/*
     *  Estilo de etiquetas
     */
.rform label {
  display: inherit;
  margin: inherit;
}
/*
 * Formulario individual con prefijo
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.7.0
 */
/*
 * Contenedor/formulario
 */
/*
     * Contenedor de controles de formulario
     */
[class^="rform individual prefix"] > div {
  width: 100%;
  font-size: 0;
  white-space: nowrap;
/*
         * Contenedor de de texto
         */
/*
         * Campo
         */
}
[class^="rform individual prefix"] > div > label,
[class^="rform individual prefix"] > div > input {
  font-size: 1rem;
  padding: 0.2rem !important;
  white-space: initial;
  display: inline-block;
  vertical-align: top;
}
/*
         * Contenedor de de texto
         */
[class^="rform individual prefix"] > div > label {
  width: 25%;
  background: #f2f2f2;
  border: solid 1px #ccc;
  line-height: 1.3;
  border-right: medium none #ccc;
}
/*
         * Campo
         */
[class^="rform individual prefix"] > div > input {
  width: 75%;
  border-radius: 0px !important;
}
/*
 * Formulario individual con boton
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
/*
     * Contenedor de controles de formulario
     */
[class^="rform individual go"] > div {
  width: 100%;
  font-size: 0;
  white-space: nowrap;
/*
         *  Campo de texto
         */
/*
         *  boton
         */
}
[class^="rform individual go"] > div > input {
  font-size: 1rem;
  padding: 0.2rem !important;
  white-space: initial;
  display: inline-block;
  vertical-align: top;
  border-radius: 0px !important;
  height: 2.1rem;
}
[class^="rform individual go"] > div > input:first-child {
  width: 85%;
}
[class^="rform individual go"] > div > button,
[class^="rform individual go"] > div > input[type="submit"] {
  width: 15%;
  border-radius: 0px !important;
}
/*
 * Formulario lineal
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
.rform.inline,
.rform.block {
  text-align: left;
  display: block;
  margin: 0 auto;
}
.rform.inline input,
.rform.block input,
.rform.inline select,
.rform.block select,
.rform.inline textarea,
.rform.block textarea {
  margin: 10px 0 !important;
  width: 100%;
  display: block;
}
/*
 * Formulario alineado
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
.rform.align {
  width: 500px;
  display: block;
  margin: 0 auto;
  text-align: left;
/*
     *  Contenedor de controles
     */
}
.rform.align > div {
  width: 100%;
  margin-bottom: 5px;
  display: inline-block;
/*
         *  Controles alineados
         */
}
.rform.align > div label {
  display: inline-block;
  width: 10rem;
  text-align: right;
  vertical-align: middle;
  margin: 0px 1em 0px 0px;
}
.rform.align > div input {
  display: inline-block;
  width: 50%;
}
/*
 * Formulario grupal
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
.rform.group {
  width: 350px;
  display: block;
  margin: 0 auto;
  text-align: left;
/*
     *  Contenedor de controles
     */
}
.rform.group > div {
  margin: 20px 0;
/*
         *  Controles de formulario
         */
}
.rform.group > div input,
.rform.group > div select {
  margin: 0px;
  width: 100%;
  border-bottom-width: 0px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}
.rform.group > div input:first-child {
  border-radius: 5px 5px 0 0 !important;
}
.rform.group > div input:last-child {
  border-radius: 0 0 5px 5px !important;
  border-bottom-width: 1px !important;
}

/*
 * Responsive Cat
 *
 * This program is free software you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http//www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http//ldonis.com>
 * @package RCat Structure
 * @subpackage Navegacion
 * @version 0.6.0
 */
/*
 *  Menu estandar
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
.rnav {
  width: 100%;
/*
     *  Contenedor de enlaces
     */
/*
     *  Enlaces
     */
/*
     *  Menu doble
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.0
     */
/*
     * Menu multinivel
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.0
     */
/*
     *  Menu vertical
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.0
     */
}
.rnav > ul {
  font-size: 0;
}
.rnav li {
  display: inline-block;
  font-size: initial;
}
.rnav a {
  display: block;
  padding: 0.3rem 0.8rem;
}
.rnav.doble {
  width: 100%;
  font-size: 0;
  white-space: nowrap;
}
.rnav.doble > ul {
  width: 50%;
  font-size: 1rem;
  white-space: initial;
  display: inline-block;
/*
             *  Menu izquierdo
             */
/*
             *  Menu derecho
             */
}
.rnav.doble > ul:first-child {
  text-align: left;
}
.rnav.doble > ul:last-child {
  text-align: right;
}
.rnav.multi > ul {
  position: relative;
/*
             *  Oculta el submenu 1
             */
/*
             *  Muestra el submenu
             */
/*
             *  Contenedor de etiquetas de submenu
             */
/*
             * Contenedor de submenu 2
             */
}
.rnav.multi > ul > li ul {
  display: none;
  position: absolute;
}
.rnav.multi > ul > li:hover > ul {
  display: block;
}
.rnav.multi > ul li ul li {
  display: block;
}
.rnav.multi > ul > li > ul > li {
  position: relative;
/*
                  * Submenu 2
                  */
}
.rnav.multi > ul > li > ul > li:hover ul {
  display: block;
  left: 100%;
  top: 0;
}
.rnav.vertical ul > li {
  display: block !important;
  text-align: left;
}
.rnav.vertical ul > li:first-child {
  font-size: 0.9rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}
.rnav.vertical ul li:not(:first-child):hover,
.rnav.vertical ul li:not(:first-child) a:hover {
  cursor: pointer;
}

/*
 * Responsive Cat
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http://ldonis.com>
 * @package RCat Structure
 * @version 0.5.0
 */
/*
  * Estilo de tablas
  * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
  * @author Luis Gdonis <http://ldonis.com>
  * @since 0.6.0
  */
.rtable {
  width: 100%;
  max-width: 100%;
  line-height: 1.6;
  empty-cells: show;
  border-spacing: 0px;
}
/*
     *  Encabezado de tabla
     */
thead {
  vertical-align: bottom;
}
/*
     *  Celdas
     */
.rtable td,
.rtable th {
  padding: 0.5em 1em;
}

/*
 * Responsive Cat
 *
 * This program is free software you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http//www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http//ldonis.com>
 * @package RCat Center
 * @version 0.6.0
 */
/*
  * Centrado con flexbox
  * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
  * @author Luis Gdonis <http//ldonis.com>
  * @since 0.6.0
  */
.center {
  display: flex;
/*
     * Centrado completo
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.0
     */
/*
     * Centrado vertical
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.1
     */
}
.center.full {
  align-items: center;
  justify-content: center;
}
.center.vertical {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
/*
         * Alineado de elementos
         * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
         * @author Luis Gdonis <http//ldonis.com>
         * @since 0.6.1
         */
}
.center.vertical .left {
  align-self: flex-start;
}
.center.vertical .right {
  align-self: flex-end;
}

/*
 * Responsive Cat
 *
 * This program is free software you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http//www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http//ldonis.com>
 * @package RCat Layout
 * @version 0.6.0
 */
