/*
 *  Fuentes
 */
@font-face{
    font-family: 'roboto100';
    src: url('roboto100.woff') format('woff');
    font-weight: 100;
}

/*
 *  
 */
html, body {    
  font-family: 'roboto100';    
  background-color: #fff;
  color: #222;
}

#content{
    background-color: #F5F5F5;
}

#content h1{
    font-size: 5.4em;
    color: #4291C4;
}

#content p{
    width: 100%;
    max-width: 1200px;    
    font-size: 2em;
    line-height: 1.5;
}

#content div{
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #B4B4B4;
    background-color: #EEE;
}

#content div a{
    display: inline-block;
    color: #FFF;
    width: 250px;
    padding: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    font-family: Sans;    
    font-size: 1rem;
    border-radius: 50px;
    border-color: #2E6DA4;
    margin: 0 15px;
    text-transform: uppercase;
    background-color: #337AB7;
}
#content div a:hover{
        color: #FFF;
        border-color: #204D74;
        background-color: #286090;
    
}



#specs{
    background-color: red;
}

#specs div{
    width: 320px;
    display: inline-block;
    background-color: blue;
}

footer{
    padding: 50px 0;
    color: #f2f2f2;
    background-color: #212121;
}