/*
 *  Fuentes
 */
@font-face{
    font-family: 'roboto100';
    src: url('roboto100.woff') format('woff');
    font-weight: 100;
}

/*
 *  
 */
html, body {    
  font-family: 'roboto100';  
  /*background-color: #f5f5f5;*/
  background-color: #fff;
  color: #222;
}

body{
    padding-left: 175px;
}

/*
 *  Barra lateral
 */
.aside{
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0;
    width: 175px;    
    color: #eee;
    background-color: #2c2c2c;
}

/*
 *  Menu lateral
 */
.aside ul{
    line-height: 42px;
    margin-top: 25px;
}

/*
 *  Contenedores de enlaces
 */
.aside ul li{
    text-align: left;
    padding-left: 10px;    
    transition: all linear 0.3s;
    box-shadow: 4px 0 rgba(255, 255, 255, 0.2) inset;
}

    .aside ul li:hover{
        box-shadow: 175px 0 rgba(255, 255, 255, 0.2) inset;
    }

/*
 *  Enlaces
 */
.aside ul li a{
    display: block;
    padding-left: 10px;
    background: transparent;
    text-transform: uppercase;
}

.aside hr{
    height: 1px;
    width: 95%;
    background-color: #6D6D6D;
}

/*
 */
 .aside a img{     
     width: 100px;
 }


/*
 *  Encabezado
 */
header{
    background-color: #F5F5F5;
    color: #4291C4;
}

    /*
     *  Logo
     */
    header img{
        padding: 20px 0 10px;
    }
    
    /*
     *  Titulo
     */
    header h1{
        
        font-size: 100%;
        
        
    }
    
    /*
     *  Menu de navegacion
     */
    header nav{        
        padding: 40px;
        border: 1px solid #B4B4B4;
        background-color: #EEE;
    }

    header nav a {
        width: 180px;
        color: #2165A6;
        font-weight: 100;        
        font-family: sans-serif;
        font-size: 1.5rem !important;
        font-size: 1.5em !important;    /* IE8 */
        transition: all 0.2s linear 0s;
        border-bottom: 1px solid transparent;
    }

    header nav a:hover {
        color: #222;
        border-bottom-color: #E74C3C;
    }
    
/*
 *  Seccion de documentacion
 *  ~·~   ~·~   ~·~   ~·~   ~·~   ~·~   ~·~   ~·~
 */ 
section{
    margin: 0 auto;
    max-width: 1200px;
    padding: 100px 0;
}

    
    /*
     *  Titulo
     */
    section article > h2{
        text-align: center;
        font-size: 3rem;
    }
    
    /*
     *  Descripcion
     */
    section article > p{
        color: #222;
        font-size: 1.5rem;
        text-align: center;
    }
    
    /*
     *  Separador
     */
    section article > hr{
        height: 1px;
        width: 85%;
        margin: 50px auto;
        background-color: #6D6D6D;
    }
    
    /*
     *  Descripcion de codigo
     */
    section article > h6{
        text-align: center;
    }
    
    /*
     *  Resultado de demos
     */
    .demo{
        margin: 20px 0;
        font-family: sans-serif !important;
    }
    /*grids*/
    .demo .rgrid div{
        padding: 25px 0px;
        border: 1px solid #CCC;
        background-color: #7E9EC7;
        color: #FFF;
    }
    /*formularios*/
    .demo .rform{
        margin: 0 auto;
        width: 600px;        
    }
    
    .demo form.block{
        width: 250px;
    }
    
    .demo form.group{
        width: 350px;
    }