

header{
    padding: 20px 0;
    color: #4291C4;
}

/*
 *  Titulo
 */
header h1{
    font-size: 5.5rem;
    font-weight: 100;
}

section > nav{
    padding: 40px;
    border: 1px solid #B4B4B4;
    background-color: #eee;
}

section > nav li{
    min-width: 200px;
}

section > nav #middle{
    /*
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    */
}

section > a,
section > nav a{
    color: #2165A6;    
    font-weight: 100;
    font-family: sans-serif;
    font-size: 1.5rem !important;
    transition: all 0.2s linear 0s;
    border-bottom: 1px solid transparent;
}

section > a:hover,
section > nav a:hover{
    color: #222;
    border-bottom-color: #E74C3C;
}

/*
 *  Descripcion del framework
 */
section > p{
    font-size: 2rem;
    padding: 4.5rem 3rem;
    text-align: center;
    line-height: 2.5rem;
}


#body{
    padding: 75px 0;
}

#body img{    
    max-width: 50%;
}

#body .icon-download{
    font-size: 16rem;
    transition: all linear 0.1s;
}

#body .icon-download:hover{
    color:#2165A6;
}

/*
 *  Documentacion
 *  ~·~  ~·~  ~·~  ~·~  
 */

/*
 *  Encabezado de documentacion
 */
#doc header{
    padding: 0;
    width: 100%;
    height: 60px;
    margin-top: -3px;
    text-align: center;
    background-color: #d5d5d5;
}

/*
 *  Logo
 */
#doc header #logo{
    height: 55px;
}

/*
 *  menu
 */
#doc header a{
    font-size: 2.5rem;
    color: #222;    
}
/*
 *  Titulo
 */
#doc header h1{
    font-size: 2.4rem;
}

/*
 *  Contenedores de especificacion de funcionalidad
 */
.doc{
    color: #222;    
    margin: 0px auto 150px;
    max-width: 1200px;
    font-size: 1.1rem;
    text-align: center;
}

    /*
     *  Titulo de documentacion
     */
    .doc header h3{
        font-size: 2.5rem;
    }
    
    /*
     *  Descripcion de funcionalidad
     */
    .doc header p{
        color: #343434;
        font-size: 1.5rem;
    }
    
    .doc hr{
        margin: 50px 0;
        height: 1px;
        background-color: #6d6d6d;
    }
    
/*
 *  Grids
 */
#grid .demo div{
    padding: 25px 0px;
    border: 1px solid #CCC;
    background-color: #7E9EC7;
    color: #FFF;
}

/*
 *  Ajustes par documentacion
 */