/*
 *  Fuentes
 */
@font-face{
    font-family: 'roboto100';
    src: url('roboto100.woff') format('woff');
    font-weight: 100;
}

/*
 *  
 */
html, body {    
  font-family: 'roboto100';  
  /*background-color: #f5f5f5;*/
  background-color: #fff;
  color: #222;
}

/*
 *  Encabezado
 */
body > header{
    background-color: #f5f5f5;
    color: #4291C4;
}

/*
 *  Titulo
 */
header h1{
    font-size: 5.5rem;
}

/*
 *  Menu de navegacion
 */
nav{
    padding: 40px;
    border: 1px solid #B4B4B4;
    background-color: #eee;
}

/*
 *  Contenedores de enlaces
 */
nav li{
    min-width: 200px;
}

/*
 *  Enlaces
 */
nav a{
    color: #2165A6;    
    font-weight: 100;
    font-family: sans-serif;
    font-size: 1.5rem !important;
    transition: all 0.2s linear 0s;
    border-bottom: 1px solid transparent;
}

nav a:hover{
    color: #222;
    border-bottom-color: #E74C3C;
}

/*
 *  Descripcion del framework
 */
#framework > p{
    font-size: 2rem;
    text-align: center;
    padding: 2rem 3rem;
    line-height: 2.5rem;
}

/*
 *  Documentacion
 *  ~·~  ~·~  ~·~  ~·~  
 */

/*
 *  Contenedores de especificacion de funcionalidad
 */
.doc{
    color: #222;    
    margin: 0px auto 150px;
    max-width: 1200px;
    font-size: 1.1rem;
    text-align: center;
}

    /*
     *  Titulo de documentacion
     */
    .doc header h3{
        font-size: 3rem;
    }
    
    /*
     *  Descripcion de funcionalidad
     */
    .doc header p{
        color: #222;
        font-size: 1.5rem;
    }
    
    .doc hr{
        margin: 50px 0;
        height: 1px;
        background-color: #6d6d6d;
    }
    
/*
 *  Grids
 */
#grid .demo div{
    padding: 25px 0px;
    border: 1px solid #CCC;
    background-color: #7E9EC7;
    color: #FFF;
}

/*
 *  Ajustes par documentacion
 */
