/*
 *  Index.html style
 */

/*
 *  Titulo
 */

section.doc header,
.header{
    font-family: sans-serif;
    font-weight: 100;
    
}

.header{
    padding: 50px 0 0px;
    background-color: #f5f5f5;    
}

.header h1{
    font-size: 5.5rem;
    color: #4291C4;
}

.header h2{
    padding-bottom: 25px;
    color: #7f7f7f;
    font-size: 1.8rem;
}

/*
 * Menu contact
 */
#menu{
    padding: 40px;
    background: #eee;
    border:1px solid #b4b4b4;
}

/*
 *  Enlaces
 */
a{
    color: #2165a6;
    border-bottom: 1px solid transparent;
    transition: all linear 0.3s;
}

a:hover{
    border-bottom: 1px solid #ea0000;
}

/*
 *  Documentacion
 */

/*
 *  Encabezado de cada seccion
 */

section.doc article{
    border-bottom: 1px solid #464646; 
}
section.doc header{
    max-width: 850px;
    padding: 25px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #CCC;
}

/*
 * Titulo principal de la documentacion
 */
section.doc header h1{
    color: #7f7f7f;
}

/*
 *  Subtitulo
 */
section.doc header h2{
    font-size: 1.4rem;
}

/*
 *  Ejemplo
 */
section.doc h3.ejemplo{ 
    text-align: left;
    font-size: 1.2rem;
}

/*
 *  Codigo html mostrado como ejemplo
 */
section.doc code{
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

/*
 *  Contenedor de ejemplos practicos
 */
section.doc div.example{
    max-width: 800px;
    margin:10px auto;
    /*background-color: #ececec;*/
    transition: all linear 0.5s;
}

section.doc div.example:hover{
    /*max-width: 320px;*/
}



/*
 *  Estilos de ejemplos por separado
 */


/*
 *  Grids
 */
.rgrid div{
    padding: 25px 0;
    border: 1px solid #CCC;
    background-color: #7E9EC7;
    color: #FFF;
}

/*
 *  Media Queries
 *  ~     ~     ~     ~     ~
 */
@media screen and (max-width : 480px){
    html{ 
        font-size: 14px;
    }
    
    /*
     *  Encabezado
     */
    header h1{
        font-size: 2.5rem;
    }
    
    header h2{
        font-size: 1.2rem;
    }
}