/*!
 * Responsive Cat
 *
 * This program is free software you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http//www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http//ldonis.com>
 * @package RCat
 * @version 0.7.0
 */

/*
 * Variables
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~ ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */

/*
 * Colores estandar
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
rcolor-transparent = transparent
rcolor-white = #fff
rcolor-gray = #E6E6E6
rcolor-skyblue = #5bc0de
rcolor-skyblue-dark = #31b0d5
rcolor-blue = #337AB7
rcolor-blue-dark = #286090
rcolor-green = #5CB85C
rcolor-green-dark = #449d44
rcolor-dark = #222
rcolor-yellow = #f0ad4e
rcolor-yellow-dark = #ec971f
rcolor-red = #d9534f
rcolor-red-dark = #c9302c
