/*
 * Responsive Cat
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <ldonis.emc2@gmail.com>
 * @link http://ldonis.com 
 * @version 0.6.1 beta
 */

/*
 *  Reset
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */
*
{
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    color: inherit;
    list-style: none;                
    text-decoration: none;    
    background-color: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*
 *  Inicializa
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */
body{ 
    padding: 0px;
    font-style: normal;
    font-weight: 100;
    /*
     *  Tipografia
     */
    font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    font-size: 100%;
    line-height: 1.65rem;
    background: #ffffff;
    color: #222222;
}


/*
 *  Estilo de titulos
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
    margin-top: 0.2rem;
    font-style: inherit;
    font-weight: inherit;
    margin-bottom: 0.5rem;
    text-rendering: optimizelegibility;
}

    h1{
        font-size: 2.38em;  /* IE8 */
        font-size: 2.38rem;
    }
    h2{
        font-size: 2.15em;  /* IE8 */
        font-size: 2.15rem;
    }
    h3{
        font-size: 1.92em;  /* IE8 */
        font-size: 1.92rem;
    }
    h4{
        font-size: 1.69em;  /* IE8 */
        font-size: 1.69rem;
    }
    h5{
        font-size: 1.46em;  /* IE8 */
        font-size: 1.46rem;
    }
    h6{
        font-size: 1.23em;  /* IE8 */
        font-size: 1.23rem;
    }


/*
 *  Grids
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  
 */

/*
 *  Contenedor de columnas automaticas y manuales
 */
.rgrid{ 
    width: 100%;
    font-size: 0;
    white-space: nowrap;
}

/*
 *  Filas del grid
 */
.rgrid > *{    
    height: 100%;
    font-size: 1rem;
    font-size: 16px; /* IE8 */
    vertical-align: top;
    display: inline-block;
    white-space: initial;    
}

/*
 *  .rgrid
 *  Ancho de columnas automaticas
 *  .col-n > * -> columnas automaticas 
 *  col-n = width/n
 */
[class^= "rgrid col-2"] > * { width: 50.00%; }
[class^= "rgrid col-3"] > * { width: 33.33%; }
[class^= "rgrid col-4"] > * { width: 25.00%; }
[class^= "rgrid col-5"] > * { width: 20.00%; }
[class^= "rgrid col-6"] > * { width: 16.66%; }
[class^= "rgrid col-7"] > * { width: 14.28%; }
[class^= "rgrid col-8"] > * { width: 12.50%; }
[class^= "rgrid col-9"] > * { width: 11.11%; }
[class^= "rgrid col-10"] > * { width: 10.00%; }
[class^= "rgrid col-11"] > * { width: 09.09%; }
[class^= "rgrid col-12"] > * { width: 08.33%; }
[class^= "rgrid col-13"] > * { width: 07.69%; }
[class^= "rgrid col-14"] > * { width: 07.14%; }
[class^= "rgrid col-15"] > * { width: 06.66%; }
[class^= "rgrid col-16"] > * { width: 06.25%; }
[class^= "rgrid col-17"] > * { width: 05.88%; }
[class^= "rgrid col-18"] > * { width: 05.55%; }
[class^= "rgrid col-19"] > * { width: 05.26%; }
[class^= "rgrid col-20"] > * { width: 05.00%; }
[class^= "rgrid col-21"] > * { width: 04.76%; }
[class^= "rgrid col-22"] > * { width: 04.54%; }
[class^= "rgrid col-23"] > * { width: 04.34%; }
[class^= "rgrid col-24"] > * { width: 04.16%; }

/*
 *  ancho de columnas manuales
 *  .col-n = (100%/10) * n
 */
.rgrid > .col-01  { width: 10.00%; }
.rgrid > .col-02  { width: 20.00%; }
.rgrid > .col-03  { width: 30.00%; }
.rgrid > .col-04  { width: 40.00%; }
.rgrid > .col-05  { width: 50.00%; }
.rgrid > .col-06  { width: 60.00%; }
.rgrid > .col-07  { width: 70.00%; }
.rgrid > .col-08  { width: 80.00%; }
.rgrid > .col-09  { width: 90.00%; }


/*
 *  Estilo de tablas
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  
 */
    .rtable{
    width: 100%;
    max-width: 100%;    
    line-height: 1.6;
    empty-cells: show;
    border-spacing: 0px;
}

    /*
     *  Celdas
     */
    .rtable td,
    .rtable th{
        padding: 0.5em 1em;
    }

        /*
         *  Celdas de encabezado
         */
        .rtable th{
        }

    /*
     *  Estilos predefinidos de tablas
     *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     */
    
    /*
     *  Tabla Gris
     */
    table.gray{
        border: 1px solid #CBCBCB;
        border-left: none;
    }
    
        /*
         *  Encabezado de tabla
         */
        table.gray thead{
            background: none repeat scroll 0% 0% #E0E0E0;
            color: #000;
            text-align: left;
            vertical-align: bottom;
        }
    
        /*
         *  Estilo generico de celdas
         */
        table.gray td,
        table.gray th{
            border-left: 1px solid #CBCBCB;
        }
    
        /*
         *  Estilos de celdas impares
         */
        table.gray tbody.impar tr:nth-child(even) {
            background-color: #ececec;
        }

/*
 *  Formularios
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  
 */

/*
 *  Formulario estandar
 */
.rform{    
}

    /*
     *  Controles de formularios
     */
    .rform select,
    .rform textarea,
    .rform input[type="tel"],
    .rform input[type="url"],
    .rform input[type="text"],
    .rform input[type="date"],
    .rform input[type="time"],
    .rform input[type="email"],
    .rform input[type="phone"],
    .rform input[type="month"],
    .rform input[type="color"],
    .rform input[type="number"],
    .rform input[type="search"],
    .rform input[type="password"],
    .rform input[type="datetime"]    
    {
        font-weight: 100;        
        border-radius: 3px;
        line-height: 1.65rem;
        border: 1px solid #CCC;
        letter-spacing: 0.01rem;
        padding: 0.35rem 0.40rem;
        padding: 0.35em 0.40em; /* IE8 */
        box-shadow: inset 0 1px 3px #ddd;
    }
    
    /*
     *  Botones de formularios
     */
    .rform input[type="submit"],
    .rform input[type="button"]{
        padding: 0.43em 1em; /* IE8 */
        padding: 0.61rem 1rem;
    }
    /*
     *  Estilo de etiquetas
     */
    .rform > label{
        display: inherit;
        margin: inherit;
    }

    /*
     * Campo del formulario activo
     */
    .rform select:focus,
    .rform textarea:focus,
    .rform input[type="tel"]:focus,
    .rform input[type="url"]:focus,
    .rform input[type="text"]:focus,
    .rform input[type="date"]:focus,
    .rform input[type="time"]:focus,
    .rform input[type="email"]:focus,
    .rform input[type="phone"]:focus,
    .rform input[type="month"]:focus,
    .rform input[type="color"]:focus,
    .rform input[type="number"]:focus,
    .rform input[type="search"]:focus,
    .rform input[type="password"]:focus,
    .rform input[type="datetime"]:focus{ 
        outline: none;    
        border-color: #129FEA;
        box-shadow: 0 0 0 1px rgba(37, 117, 237, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2) inset;   
    }

    /*
     *  Estilos de formularios
     *  ~·~  ~·~  ~·~  ~·~  ~·~
     */

        /*
         *  Individual con prefijo
         */
        form.individual > div{
            width: 100%;
            font-size: 0;
            white-space: nowrap;            
        }

        form[class^="rform individual prefix"] > div > span,
        form[class^="rform individual prefix"] > div > input{
            font-size: 1rem;            
            padding: 0.2rem !important;
            white-space: initial;
            display: inline-block;
        }


        form[class^= "rform individual prefix"] > div > span{
            font-size: 16px; /* IE8 */
            padding: 4px;    /* IE8 */
            width: 25%;
            background: #F2F2F2;
            border: solid 1px #ccc;
            border-right: medium none #CCC;
        }

        form[class^= "rform individual prefix"] > div > input{
            width: 75%;
            border-radius: 0px !important;
        }
    
        /*
         *  Individual con boton
         */
        form[class^="rform individual go"] > div > input{
            font-size: 1rem;
            padding: 0.2rem !important;
            white-space: initial;
            display: inline-block;
            border-radius: 0px !important;
        }
    
        /*
         *  Campo de texto
         */
        form[class^= "rform individual go"] > div > input:first-child{
            width: 85%;
        }

        /*
         *  boton
         */
        form[class^= "rform individual go"] > div > input[class^="button"]{
            width: 15%;
            height: 2.2rem;
            padding: 0.4em 2em; /* IE8 */
        }
    
        /*
         *  Lineal
         */
        form.inline{
            
        }

        /*
         *  Bloque
         */
        form.block{            
            text-align: left;
            display: block;
            margin: 0 auto;
        }
    
        form.block input,
        form.block select{
            margin: 10px 0 !important;
            width: 100%;
            display: block;
        }
    
        /*
         *  Alineado
         */
        form.align{
            width: 500px;
            display: block;
            margin: 0 auto;
            text-align: left;
        }

        /*
         *  Contenedor de controles
         */
        form.align > div{
            width: 100%;
            margin-bottom: 5px;
            display: inline-block;
        }
        
        /*
         *  Controles alineados
         */
        form.align > div input{
            display: inline-block;
            width: 50%;
        }
        form.align > div label{
            display: inline-block;
            width: 10rem;
            width: 10em;    /* IE8 */
            text-align: right;            
            vertical-align: middle;
            margin: 0px 1em 0px 0px;
        }

        /*
         *  Grupal
         */
        form.group{
            width: 350px;
            display: block;
            margin: 0 auto;
            text-align: left;
        }
    
            /*
             *  Contenedor de controles
             */
            form.group > div{
                margin: 20px 0;
            }
    
            form.group > div input,
            form.group > div select{
                margin: 0px;
                width: 100%;
                border-radius: 0px !important;
            }

            /**/
            form.group > div input:first-child{
                border-radius: 5px 5px 0 0 !important;
            }
            form.group > div input:last-child{
                border-radius: 0 0 5px 5px !important;
            }
    
/*
 *  Navegacion | Menus horizontales
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */

/*
 *  Menu estandar
 *  ~·~  ~·~  ~·~  ~·~
 */
.rrnavbar{
    width: 100%;
}

    /*
     *  Contenedor de enlaces
     */
    .rnavbar li{
        display: inline-block;
    }

    /*
     *  Enlaces
     */
    .rnavbar a{
        display: block;        
        padding: 0.3em 0.8em;    /* IE8 */
        padding: 0.3rem 0.8rem;
    }
    
    .rnavbar a:hover{
        background-color: #ececec;
    }
    
    /*
     *  Estilo de menus
     */
     
    /*
     *  Menu doble
     *  ~·~  ~·~  ~·~  ~·~
     */
    nav.doble{
        width: 100%;
        font-size: 0;
        white-space: nowrap;
    }
    
        nav.doble > ul{
            width: 50%;
            font-size: 16px; /* IE8 */
            font-size: 1rem;            
            white-space: initial;
            display: inline-block;
        } 

        /*
         *  Menu izquierdo
         */
        nav.doble > ul:first-child{
            text-align: left;
        }
    
        /*
         *  Menu derecho
         */
        nav.doble > ul:last-child{
            text-align: right;
        }
        
        nav.doble .right{        
            text-align: right; /* IE8 */
        }
    
    
    /*
     *  Menu multinivel
     *  ~·~  ~·~  ~·~  ~·~
     */
    
    /*
     *  Contenedor principal de menu
     */
    nav.multi > ul{
        position: relative;
    }

    /*
     *  Oculta el submenu
     */
    nav.multi > ul li ul{
        display: none;
        position: absolute;
    }
    
    /*
     *  Muestra el submenu
     */
    nav.multi > ul li:hover ul{
        display: block;
    }
    
    /*
     *  Contenedor de etiquetas de submenu
     */
    nav.multi > ul ul li{
        display: block;
    }
    
/*
 *  Menu vertical
 */
.nav{
}

/*
 *  Titulo de lista o menu
 */
.nav li:first-child{    
}

.nav ul > li:first-child{    
    font-size: 0.9rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.nav ul li:not(:first-child):hover,
.nav ul li:not(:first-child) a:hover{
    cursor: pointer
}



/*
 *  Helpers
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */

/*
 *  Responsive images
 *  ~     ~     ~     ~     ~
 */
img{
    height: auto;
    max-width: 99%;
}

/*
 *  Alineacion horizontal/vertical
 *  ~     ~     ~     ~     ~
 */
    /*
     *  Alineacion Vertical
     */

    /*
     *  Contenedor principal
     */
    .vertical{
        width: 100%;
        height: 100%;
        display: table;        
}

    /*
     *  Contenedor secundario
     */
    .top,
    .middle,
    .bottom{
        display: table-cell;
}
    .top{ vertical-align: top; }
    .middle{ vertical-align: middle; }
    .bottom{ vertical-align: bottom; }

/*
 *  Centrado horizontal total
 */
.center{
    *display: block; /* IE8 */
    margin: 0 auto;
    text-align: center;
}

/*
 *  Centrado horizontal y vertical total
 */
.full-center{
    height: 300px;
    position: relative;    
    background-color: blue;
}
.full-center > *{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    margin: auto;
    height: 100px;
    background: red;
    position: absolute;
}

/*
 *  Ancho al 50%
 */
.width-50{
    width: 50%;
}

/*
 *  Botones
 *  ~     ~     ~     ~     ~
 */

/*
 * Boton estandar
 */
[class ^= "button"],
[class *= " button"]{
    color: #000;
    cursor: pointer;
    font-weight: 400;
    border-radius: 2px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;        
    -moz-user-select: none;
    padding: 0.6rem 0.15rem;    
    vertical-align: baseline;            
    background-color: #E6E6E6;
    border: 0px none transparent;
    
}
.button:hover{
    color: #000;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.button:active{
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 0px 6px rgba(0, 0, 0, 0.2) inset;
}

/*
 * Boton normal
 */
.button-normal{
    color: #FAFAFA;
    background-color:  #0078E7;
}

/*
 *  Codigo
 */
code{
    width: 100%;
    color: #333;
    padding: 1em;
    display: block;
    text-align: left;
    line-height: 1.4;
    border-style: solid;
    background: #eeeeee;
    padding-left: 2.5rem;
    border-color: #b4b4b4;
    white-space: pre-wrap;
    border-width: 1px 0px;
    font-size: 1.0rem;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
}

/*
 *  Separadores
 */
hr{
    height: 2px;
}

hr.gray{
    background-color: #CCC;
}


/*
 *  Media Queries
 *  ~     ~     ~     ~     ~
 */
@media screen and (max-width : 480px){
    html{ 
        font-size: 14px;
    }
    
    /*
     *  Responsive images
     *  ~     ~     ~     ~     ~
     */
    img{
        height: auto;
        max-width: 50%;
    }
    
    /*
     *  Estilo generico de columnas
     */
    .rgrid > *{
    
    }
    
}
