/*!
 * Responsive Cat
 *
 * This program is free software you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http//www.gnu.org/licenses/>.
 *
 * CSS version 3
 *
 * Interfaz de usuario (mini) para ResponsiveCat
 *
 * @category UserInterface
 * @package  UI Module
 * @author   Luis Gdonis <hello@ldonis.com>
 * @license  GPLv3 http//www.gnu.org/licenses/gpl-3.0.en.html
 * @version  0.7.0
 * @link     http//responsivecat.com
 */

 /*!
  * Contenedor de codigo
  * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
  * @author Luis Gdonis <http//ldonis.com>
  * @since 0.7.0
  */
code
    display block
    margin 0 auto
    width 90%
    white-space pre-wrap

    font-family Consolas,"Liberation Mono",Courier,monospace,sans-serif
    font-size 1rem
    line-height 1.4
    padding 1rem 1rem 0.5rem 2.5rem
    text-align left
    color #333
    background #FAFAFA
    border 1px solid #cbcbcb

    margin-bottom 15px

/*!
 * Botones
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */

 /*
  * Colores estandar por defecto
  * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
  * @author Luis Gdonis <http//ldonis.com>
  * @since 0.7.0
  */
 rcolor-transparent = transparent
 rcolor-white = #fff
 rcolor-gray = #E6E6E6
 rcolor-skyblue = #5bc0de
 rcolor-skyblue-dark = #31b0d5
 rcolor-blue = #337AB7
 rcolor-blue-dark = #286090
 rcolor-green = #5CB85C
 rcolor-green-dark = #449d44
 rcolor-dark = #222
 rcolor-yellow = #f0ad4e
 rcolor-yellow-dark = #ec971f
 rcolor-red = #d9534f
 rcolor-red-dark = #c9302c

 /*!
  * <a> (link) reset
  * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
  * @author Luis Gdonis <http//ldonis.com>
  * @since 0.7.0
  */
a
    color inherit
    text-decoration none
/*!
 * Hack para simular <button> con <a>
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.7.0
 */
a.rbutton
    font-size 12px
    font-weight 400
    line-height 15px
    font-family Sans

/*!
 * Estilo base de boton
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.7.0
 */
[class^="rbutton"]
    padding 6px 12px
    border-radius 2px

    border 1px solid transparent
    text-shadow 0 1px 0 rgba(0,0,0,0.01)

    &:hover
        cursor pointer

    &:active
        box-shadow 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 0px 6px rgba(0, 0, 0, 0.2) inset

    /*! Estilo de boton fantasma
     * ================================== */
    &.g
        transition all 0.2s ease

.rbutton

    /*!
     * Boton estandar
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &-standard
        background-color rcolor-white
        border-color rcolor-gray

        &:hover
            color rcolor-dark
            border-color rcolor-gray
            background-color rcolor-gray

        /*! Boton estandar fantasma
         * ================================== */
        &.g
            background-color rcolor-transparent
            border-color rcolor-gray
            color rcolor-gray

            &:hover
                background-color rcolor-gray
                color rcolor-white

    /*!
     * Boton primario
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &-primary
        color rcolor-white
        border-color rcolor-blue-dark
        background-color rcolor-blue

        &:hover
            color rcolor-white
            background-color rcolor-blue-dark

        /*! Boton primario fantasma
         * ================================== */
        &.g
            background-color rcolor-transparent
            border-color rcolor-blue
            color rcolor-blue-dark

            &:hover
                background-color rcolor-blue
                color rcolor-white

    /*!
     * Boton success
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &-success
        color rcolor-white
        border-color rcolor-green-dark
        background-color rcolor-green

        &:hover
            background-color rcolor-green-dark
            border-color rcolor-green-dark

        /*! Boton primario fantasma
         * ================================== */
        &.g
            background-color rcolor-transparent
            border-color rcolor-green
            color rcolor-green-dark

            &:hover
                background-color rcolor-green
                color rcolor-white

    /*!
     * Boton informacion
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &-info
        background-color rcolor-skyblue
        border-color rcolor-skyblue-dark

        &:hover
            background-color rcolor-skyblue-dark
            border-color rcolor-skyblue-dark

        /*! Boton informacion fantasma
         * ================================== */
        &.g
            background-color rcolor-transparent
            border-color rcolor-skyblue
            color rcolor-skyblue-dark

            &:hover
                background-color rcolor-skyblue
                color rcolor-white

    /*!
     * Boton advertencia
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &-warning
        background-color rcolor-yellow
        border-color rcolor-yellow-dark

        &:hover
            background-color rcolor-yellow-dark

        /*! Boton advertencia fantasma
         * ================================== */
        &.g
            background-color rcolor-transparent
            border-color rcolor-yellow
            color rcolor-yellow-dark

            &:hover
                background-color rcolor-yellow
                color rcolor-white

    /*!
     * Boton error
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &-error
        background-color rcolor-red
        border-color rcolor-red-dark

        &:hover
            background-color rcolor-red-dark

        /*! Boton error fantasma
         * ================================== */
        &.g
            background-color rcolor-transparent
            border-color rcolor-red
            color rcolor-red-dark

            &:hover
                background-color rcolor-red
                color rcolor-white

/*!
 * Botones grupales
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.7.0
 */
.button-group
    font-size 0

    /*!
     * Estilo generico para botones grupales
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    [class^="rbutton"]
        border-radius 0px
        border-right-width 0px


        /*! Primer boton grupal - izquierda a derecha
         * ========================================== */
        &:first-child
            border-radius 3px 0 0 3px !important
            border-right 0

        /*! Ultimo boton grupal - izquierda a derecha
         * ========================================== */
        &:last-child
            border-radius 0 3px 3px 0 !important
            border-right-width 1px

/*!
 * Boton circular
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.7.0
 */
[class^="rbutton"].circle
    width 75px
    height 75px
    border-radius 50%
    text-align center

/*!
 * Boton ovalado
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.7.0
 */
[class^="rbutton"].oval
    border-radius 45px
    text-align center
