/*!
 * Responsive Cat
 *
 * This program is free software you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http//www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http//ldonis.com>
 * @package RCat UIKit
 * @version 0.6.0
 */

 /*
  * Obtiene variables
  * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
  */
@require '../bin/variables.styl'

/*
 * Contenedor de codigo
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
code
    width 100%
    color #333
    padding 1em
    display block
    text-align left
    line-height 1.4
    border-style solid
    background #eeeeee
    padding-left 2.5rem
    border-color #b4b4b4
    white-space pre-wrap
    border-width 1px 0px
    font-size 1.0rem
    font-family Consolas,"Liberation Mono",Courier,monospace

/*
 *  Formularios
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */

 /*!
  * Formulario estandar
  * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
  * @author Luis Gdonis <http//ldonis.com>
  * @since 0.6.0
  */
 .rform

    /*!
     *  Controles de formularios
     */
    select
    textarea
    input:not([type="submit"]):not([type="button"])
        border 1px solid #CCC
        box-shadow inset 0px 0px 3px 0px #ddd

    /*!
     *  Campo del formulario activo
     */
    select:focus
    textarea:focus
    input:focus
        border-color #129FEA
        //box-shadow 0 0 0 1px rgba(37, 117, 237, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2) inset

/*
 * Botones
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */

/*
 * Hack para simular <button> con <a>
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
a[class^="rbutton"]
    font-size 12px
    font-weight 400
    line-height 15px
    font-family Sans

/*
 * Boton estilo base
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
[class^="rbutton"]
    padding 6px 12px
    border-radius 2px

    border 1px solid transparent
    text-shadow 0 1px 0 rgba(0,0,0,0.01)

    &:hover
        cursor pointer

    &:active
        box-shadow 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 0px 6px rgba(0, 0, 0, 0.2) inset

    &.g
        transition all 0.2s ease

.rbutton

    /*
     * Boton estandar
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &-standard
        background-color rcolor-white
        border-color rcolor-gray

        &:hover
            color rcolor-dark
            border-color rcolor-gray
            background-color rcolor-gray

        /*
         * Boton estandar fantasma
         * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
         * @author Luis Gdonis <http//ldonis.com>
         * @since 0.7.0
         */
        &.g
            background-color rcolor-transparent
            border-color rcolor-gray
            color rcolor-gray

            &:hover
                background-color rcolor-gray
                color rcolor-white


    /*
     * Boton primario
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &-primary
        color rcolor-white
        border-color rcolor-blue-dark
        background-color rcolor-blue

        &:hover
            color rcolor-white
            background-color rcolor-blue-dark

        /*
         * Boton primario fantasma
         * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
         * @author Luis Gdonis <http//ldonis.com>
         * @since 0.7.0
         */
        &.g
            background-color rcolor-transparent
            border-color rcolor-blue
            color rcolor-blue-dark

            &:hover
                background-color rcolor-blue
                color rcolor-white

    /*
     * Boton success
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &-success
        color rcolor-white
        border-color rcolor-green-dark
        background-color rcolor-green

        &:hover
            background-color rcolor-green-dark
            border-color rcolor-green-dark

        /*
         * Boton success fantasma
         * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
         * @author Luis Gdonis <http//ldonis.com>
         * @since 0.7.0
         */
        &.g
            background-color rcolor-transparent
            border-color rcolor-green
            color rcolor-green-dark

            &:hover
                background-color rcolor-green
                color rcolor-white

    /*
     * Boton de informacion
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &-info
        background-color rcolor-skyblue
        border-color rcolor-skyblue-dark

        &:hover
            background-color rcolor-skyblue-dark
            border-color rcolor-skyblue-dark

        /*
         * Boton info fantasma
         * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
         * @author Luis Gdonis <http//ldonis.com>
         * @since 0.7.0
         */
        &.g
            background-color rcolor-transparent
            border-color rcolor-skyblue
            color rcolor-skyblue-dark

            &:hover
                background-color rcolor-skyblue
                color rcolor-white

    /*
     * Boton de advertencia
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.0
     */
    &-warning
        background-color rcolor-yellow
        border-color rcolor-yellow-dark

        &:hover
            background-color rcolor-yellow-dark

        /*
         * Boton advertencia fantasma
         * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
         * @author Luis Gdonis <http//ldonis.com>
         * @since 0.7.0
         */
        &.g
            background-color rcolor-transparent
            border-color rcolor-yellow
            color rcolor-yellow-dark

            &:hover
                background-color rcolor-yellow
                color rcolor-white

    /*
     * Boton de error
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.0
     */
    &-error
        background-color rcolor-red
        border-color rcolor-red-dark

        &:hover
            background-color rcolor-red-dark

        /*
         * Boton error fantasma
         * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
         * @author Luis Gdonis <http//ldonis.com>
         * @since 0.7.0
         */
        &.g
            background-color rcolor-transparent
            border-color rcolor-red
            color rcolor-red-dark

            &:hover
                background-color rcolor-red
                color rcolor-white

/*
 * Boton grupal
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
.button-group
    font-size 0

    /*
     *  Estilo generico para botones grupales
     */
    [class^="rbutton"]
        border-radius 0px
        border-right-width 0px


        /*
         *  Primer boton grupal - izquierda a derecha
         */
        &:first-child
            border-radius 3px 0 0 3px !important
            border-right 0

        /*
         *  Ultimo boton grupal - izquierda a derecha
         */
        &:last-child
            border-radius 0 3px 3px 0 !important
            border-right-width 1px

/*
 * Boton circular
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
[class^="rbutton"].circle
    width 75px
    height 75px
    border-radius 50%
    text-align center

/*
 * Boton ovalado
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
[class^="rbutton"].oval
    border-radius 45px
    text-align center


/*
 * Menus
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */
.rnav

    /*
     *  Menu vertical
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &.vertical

        /*
         *  Titulo de lista o menu
         */
        ul > li:first-child
            border-bottom 1px solid #ccc

/*
 * Tablas
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */
.rtable

    /*
     *  Tabla Simple
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.7.0
     */
    &.simple

        thead

            th
                border-bottom 2px solid #ddd

        tbody

            td
                border-bottom 1px solid #ddd

    /*
     *  Tabla Gris
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.0
     */
    &.gray
        border 1px solid #CBCBCB
        border-left none

        /*
         *  Encabezado de tabla
         */
        thead
            background #E0E0E0
            color #000
            text-align left
            vertical-align bottom

        /*
         *  Estilo generico de celdas
         */
        td
        th
            border-left 1px solid #CBCBCB

        /*
         *  Cuerpo de la tabla
         */
        tbody

            /*
             *  Estilos de celdas impares
             */
            tr:nth-child(even)
                background-color #ececec


    /*
     * Tabla azul
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.5.0
     */
    &.blue
        border 1px solid #59aee2
        border-left none

        /*
         *  Encabezado de tabla
         */
        thead
            background  #70c0f2
            color #000
            text-align left
            vertical-align bottom

        /*
         *  Estilo generico de celdas
         */
        td,
        th
            border-left 1px solid #59aee2

        /*
         *  Cuerpo de la tabla
         */
        tbody

            /*
             *  Estilos de celdas impares
             */
            tr:nth-child(even)
                background-color #a9ddfe





/*
 *  Extras
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * /

/*
 *  Responsive Videos
 *  proporcion 16x9
 *  ~·~  ~·~  ~·~  ~·~
 * /
[class^="rvideo"]
    height 0
    width 50%
    margin 0 auto
    padding-top 25px
    padding-bottom 28.125%
    /*
    width 100%
    padding-bottom 56.25%
    * /
    position relative


    /*
     *  Iframe contenedor del video
     * /
    [class^="rvideo"] > iframe
        position absolute
        top 0
        left0
        width 100%
        height 100%


/*
 *  Responsive images
 *  ~     ~     ~     ~     ~
 * /
img
    height auto
    max-width 99.999%

*/
