/*!
 * Responsive Cat
 *
 * This program is free software you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http//www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http//ldonis.com>
 * @package RCat Structure
 * @subpackage Navegacion
 * @version 0.6.0
 */

/*
 *  Menu estandar
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
.rnav
    width 100%

    & > ul
        font-size 0

    /*
     *  Contenedor de enlaces
     */
    li
        display inline-block
        font-size initial

    /*
     *  Enlaces
     */
    a
        display block
        padding 0.3rem 0.8rem

    /*
     *  Menu doble
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.0
     */
    &.doble
        width 100%
        font-size 0
        white-space nowrap

        & > ul
            width 50%
            font-size 1rem
            white-space initial
            display inline-block

            /*
             *  Menu izquierdo
             */
            &:first-child
                text-align left

            /*
             *  Menu derecho
             */
            &:last-child
                text-align right

    /*
     * Menu multinivel
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.0
     */
    &.multi

        /*
         *  Contenedor principal de menu
         */
        & > ul
            position relative

            /*
             *  Oculta el submenu 1
             */
            & > li ul
                display none
                position absolute

            /*
             *  Muestra el submenu
             */
            & > li:hover > ul
                display block

            /*
             *  Contenedor de etiquetas de submenu
             */
            & li ul li
                display block

            /*
             * Contenedor de submenu 2
             */
            & > li > ul > li
                 position relative

                 /*
                  * Submenu 2
                  */
                 &:hover ul
                    display block
                    left 100%
                    top 0

    /*
     *  Menu vertical
     * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
     * @author Luis Gdonis <http//ldonis.com>
     * @since 0.6.0
     */
    &.vertical

        ul > li
            display block !important
            text-align left

        /*
         *  Titulo de lista o menu
         */
        ul > li:first-child
            font-size 0.9rem
            margin-top 0.5em
            margin-bottom 0.5em
            text-transform uppercase

        ul li:not(:first-child):hover
        ul li:not(:first-child) a:hover
            cursor pointer
