/*!
 * Responsive Cat
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Luis Gdonis <http://ldonis.com>
 * @package RCat Structure
 * @version 0.6.0
 */

/*
 *  Reset
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */
*
    margin 0
    border 0
    padding 0
    outline 0
    color inherit
    list-style none
    text-decoration none
    background-color inherit

*
*:before
*:after
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box

html
    font-family Sans, sans-serif, Helvetica
    -ms-text-size-adjust 100%;
    -webkit-text-size-adjust 100%;

/*
 *  Inicializa
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 */
body
    font-size 100%
    font-style normal
    font-weight 100

/*
 *  Estilo de titulos
 *  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.6.0
 */
h1, h2, h3, h4, h5, h6
    font-style inherit
    font-weight inherit
    text-rendering optimizelegibility

h1
    font-size 2.38rem

h2
    font-size 2.15rem

h3
    font-size 1.92rem

h4
    font-size 1.69rem

h5
    font-size 1.46rem

h6
    font-size 1.23rem
