/*
* Lesli CSS
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*
* CSS version 3
*
* Grids & blocks system
*
* @author   Luis Gdonis <emc2@ldonis.com>
* @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
* @version  0.1.0
* @link     https://www.lesli.tech
*/



// loading grid module
@require 'grid'



// including standards
@require '../init/standards'



/*
* Grids
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <https://www.lesli.tech>
* @since  0.1.0 alpha
*/
.lesli-grid

	// Genera unicamente estilos para el contenedor del grid
	lesli-grid(margin: $lesli-grid-columns-automatic-margin)

	// Recorre la cantidad de columnas configuradas
	// for manual grid it should start in 1, for manual grid I have to add a conditional
	// to start to generate CSS after the second iteration of the "for" cicle 
	for column in ( 2 .. $lesli-grid-columns-count )

		// Numero de columna actual
		$column-number = column

		// Arma el nombre de la clase
		$column-class-name = lesli-grid--get-class-name(
								column-number: $column-number,
								column-prefix: $lesli-grid-columns-automatic-prefix)

		// Columnas automaticas
		&.{$column-class-name} > *

			// Utiliza el mixin del framework para crear el estilo para la columna automatica
			lesli-grid-column(
				column: $column-number,
				column-total: 0,
				margin: $lesli-grid-columns-automatic-margin)