/*
* Responsive Cat
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*
* CSS version 3
*
* Sistema de Grids y Blocks para ResponsiveCat
*
* @author   Luis Gdonis <emc2@ldonis.com>
* @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
* @version  3.0.0 alpha
* @link     http://www.responsivecat.com
*/

/*
* Se incluye el modulo rGrid del Framework
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since  3.0.0 alpha
*/
@require 'rgrid'


/*
* Se incluyen variables estandar y constructores del framework
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since  3.0.0 alpha
*/
@require '../init/rinit'


/*
* Construye el framework CSS
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
*/

/*
* Grids
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since  3.0.0 alpha
*/
.rgrid
    
	// Genera unicamente estilos para el contenedor del grid
	rcat-grid(margin: $rgrid-columns-automatic-margin)

	// Recorre la cantidad de columnas configuradas
	// for manual grid it should start in 1, for manual grid I have to add a conditional
	// to start to generate CSS after the second iteration of the "for" cicle 
	for column in ( 2 .. $rgrid-columns-count )

		// Numero de columna actual
		$column-number = column
		
		// Arma el nombre de la clase
		$column-class-name = rcat-rgrid_GetClassName($column-number, $rgrid-columns-automatic-prefix)
		
		// Columnas automaticas
		&.{$column-class-name} > *
		
			// Utiliza el mixin del framework para crear el estilo para la columna automatica
			rcat-grid-column($column-number, 0, $rgrid-columns-automatic-margin)
