/*
 * Responsive Cat
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * CSS version 3
 *
 * Definicion de variables para construir
 * el sistema de grids y blocks para ResponsiveCat
 *
 * @category Structure
 * @package  Base styles
 * @author   Luis Gdonis <mail@ldonis.com>
 * @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
 * @version  0.7.0
 * @link     http://responsivecat.com
 */

var-media-small = 768
var-media-medium = 1024

 /*
  * Especificacion de columnas automaticas
  * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
  * @author Luis Gdonis <http//ldonis.com>
  * @since 0.7.0
  */
var-columns-automatic-total = 12
var-columns-automatic-prefix = 'columns-'
var-columns-automatic-margin = 1

/*
 * Especificacion de columnas manuales
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.7.0
 */
var-columns-manual-total = 10
var-columns-manual-prefix = 'column-'
var-columns-manual-margin = 1

/*
 * Especificacion de blocks automaticas
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.7.0
 */
var-blocks-automatic-total = 12
var-blocks-automatic-prefix = 'columns-'

/*
 * Especificacion de blocks manual
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 0.7.0
 */
var-blocks-manual-total = 10
var-blocks-manual-prefix = 'column-'