/*
* Lesli CSS
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*
* CSS version 3
*
* Grids & blocks system
*
* @author   Luis Gdonis <emc2@ldonis.com>
* @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
* @version  0.1.0
* @link     https://www.lesli.tech
*/

// Funciones y Mixins para construir el grid
// -·-  -·-  -·-  -·-  -·-  -·-  -·-  -·-  -·-  -·-  -·-  -·-  -·-  -·-  -·-

/*
* Framework information
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <https://www.lesli.tech>
* @since 0.1.0 alpha
*/
Lesli()
	/*!
		Lesli CSS
		CSS Micro Framework
		Version 0.1.0 beta
	*/



/*
* Carga modulo del framework
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <https://www.lesli.tech>
* @since 0.1.0 alpha
*/
Lesli--load(module_name, src='../../Template/css/lesli/src/')

	return src + module_name + '/' + module_name + '.styl'
	


/*
* Incluye imagenes
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <https://www.lesli.tech>
* @since 0.1.0 alpha
*/
Lesli--image(image, section = false)

	$path = ''

	if section
		$path = '../../' + section + '/img/'
	
	else
		$path = '../img/'

	
	return $path + image
    


/*
* Incluye hojas de estilo
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <https://www.lesli.tech>
* @since 0.1.0 alpha
*/
Lesli--include(stylesheet, section = false, extenssion = 'styl')

	$path = ''

	if section
		$path = '../../' + section + '/css/'

	else
		$path = '../css('

	@require $path + stylesheet + extenssion



/*
* Incluye fuentes
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <https://www.lesli.tech>
* @since 0.1.0 alpha
*/
//Lesli--font(name, types = false)
