/*
* Lesli CSS
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*
* CSS version 3
*
* Helpers
*
* @author   Luis Gdonis <emc2@ldonis.com>
* @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
* @version  0.1.0
* @link     https://www.lesli.tech
*/

/*
* Centrado total con flexbox
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <https://www.lesli.tech>
* @since 2.0.0
*/
lesli-helper-center(type = 'full')

	display flex

	// * Centrado completo
	if( type == 'full' )
		align-items center
		justify-content center


	// * Centrado completo
	if( type == 'vertical' )
		align-items center
		justify-content center
		flex-direction column
		height 100%


/*
* Oculta un elemento html del DOM
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
* /
.hidden
    display none !important


/*
* Tooltips
* Se debe agregar el atributo data-tooltip con el texto a mostrar
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
* /
[data-tooltip]
    position relative
    cursor pointer
    z-index 2

    // oculta el tooltip
    &:before
    &:after
        pointer-events none
        visibility hidden
        opacity 0


    // coloca el tooltip sobre el elemento
    &:before
        position absolute
        left 50%
        bottom 100%
        margin-bottom 5px
        margin-left -80px
        padding 7px
        width 160px
        border-radius 3px
        color #fff
        background-color rgba(51,51,51,0.9)
        content attr(data-tooltip)
        text-align center
        font-size 14px
        line-height 1.2

    // coloca el tringualo conector
    &:after
        position absolute
        left 50%
        bottom 100%
        margin-left -5px
        width 0
        border-top 5px solid #000
        border-top 5px solid rgba(51,51,51,0.9)
        border-right 5px solid transparent
        border-left 5px solid transparent
        content " "
        font-size 0
        line-height 0

    // coloca el tringualo conector
    &:hover:before
    &:hover:after
        visibility visible
        opacity 1


/*
* Contenedor de codigo
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
* /
.rcode
    display block
    margin 0 auto
    width 90%
    white-space pre-wrap
    font-family Consolas,"Liberation Mono",Courier,monospace,sans-serif
    font-size 1rem
    line-height 1
    padding 1rem 1rem .5rem 2.5rem
    text-align left
    color #333
    background #fafafa
    border 1px solid #cbcbcb
    margin-bottom 15px


/*
* Centrado de texto
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
* /
.text-center
    text-align center

/*
* Modal window
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
* /
.rmodal
    position fixed
    top 0
    left 0
    z-index 999
    height 100vh
    width 100%

    display none
    align-items center
    justify-content center
    flex-direction column

    background-color rgba(255,255,255,0.2)

    &.active
        display flex

    .content
        background-color #fff
*/