/*
* Responsive Cat
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*
* CSS version 3
*
* Definicion de variables
* e inicializador del framework
*
* @author   Luis Gdonis <emc2@ldonis.com>
* @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
* @version  2.0.0 beta
* @link     http://responsivecat.com
*/


/*
* Especificacion para construir el modulo de grids
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
*/

// * Configuracion de columnas del grid
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$rgrid-columns-count = 12   // Cantidad de columnas

// * Configuracion de columnas automaticas
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$rgrid-columns-automatic-prefix = 'columns-'    // Prefijo para clase css
$rgrid-columns-automatic-margin = 1             // Margen entre celdas


// * Configuracion de columnas automaticas
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$rgrid-columns-manual-prefix = 'column-'    // Prefijo para clase css
$rgrid-columns-manual-margin = 1            // Margen entre celdas


// * Configuracion de columnas de blocks
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$rblocks-columns-count = 12     // Cantidad de columnas

// * Configuracion de blocks automaticos
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$rblocks-columns-automatic-prefix = 'columns-' // Prefijo para clase css

// * Configuracion de blocks manuales
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$rblocks-columns-manual-prefix = 'column-'      // Prefijo para clase css


// * Iteracion en breakpoints
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$rgrid-breakpoint-iteration = 100

// * Primer breakpoint
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$rgrid-breakpoint-start = 320

// * Ultimo beakpoint
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$rgrid-breakpoint-end = 720


/*
* Especificacion para estilos base
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
*/

// * Ancho maximo de wrapper
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$rhelper-wrapper-max-width = 2000px
