/*
* Responsive Cat
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*
* CSS version 3
*
* Modulo de Menus y listas para ResponsiveCat
*
* @author   Luis Gdonis <emc2@ldonis.com>
* @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
* @version  2.0.0 beta
* @link     http://responsivecat.com
*/


/*
* Contenedor principal
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
*/
.rnav
    width 100%

    // remueve el padding de listas del contenedor de listas
    ul
        padding 0

    // si es un menu de segundo nivel
    & > ul
        font-size 0

    // contenedor de enlaces
    li
        display inline-block
        font-size initial

        // enlaces
        a
            display block
            padding 0.3rem 0.8rem


    /*
    * Menu vertical
    * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
    * @author Luis Gdonis <http://ldonis.com>
    * @since 2.0.0
    */
    &.vertical

          // Titulo de sub lista o sub menu
          & li > ul > li:first-child
              margin-top 0.5em
              margin-bottom 0.5em
              border-bottom 1px solid #ccc
              text-transform uppercase

          // Estilo de generico de lista
          ul

              li
                  display block !important

    /*
    * Selector de idioma
    * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
    * @author Luis Gdonis <http://ldonis.com>
    * @since 2.0.0
    */
    &.lang
        width 100%
        max-width 200px
        position relative

        &:hover ul
            display block

        p
            &:after
              content "\25BE"

        ul
            display none
            position absolute
            width 100%
            max-width menu-lang-width

            li
                display block


    /*
    * Navigation menu
    * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
    * @author Luis Gdonis <http://ldonis.com>
    * @since 2.1.0
    */

    // Menu de navegacion movil
    // -·- -·- -·- -·- -·- -·- -·- -·- -·- -·- -·- -·-
    &.menu

        // Oculta el checkbox
        & > input
            display none

            // Show the menu when input is checked
            &:checked ~ ul
                height auto

        // Contenedor de enlaces de menu
        ul
            width 100%
            height 0
            overflow hidden

            // Contenedor de enlace
            li
                display block

    // Menu de navegacion desktop
    // -·- -·- -·- -·- -·- -·- -·- -·- -·- -·- -·- -·-
    @media (min-width: 800px)

        // Contenedor de navegacion
        &.menu

            // Oculta el indicador de menu movil
            & > label
                display none

            // Contenedor de enlaces de menu
            ul
                height auto

                // Contenedor de enlace
                li
                    display inline-block
