/*
* Responsive Cat
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*
* CSS version 3
*
* Establece estilos estandar para sitio web
*
* @author   Luis Gdonis <emc2@ldonis.com>
* @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
* @version  2.0.0 beta
* @link     http://responsivecat.com
*/


/*
* Reset
* Reinicia los valores por defecto del margen y padding
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
*/

// * box sizing
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
*
*:before
*:after
    box-sizing border-box

html
    font-family sans-serif
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

body
    margin 0


/*
* Estilo de titulos
* Establece un valor estandar para los titulos y subtitulos
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
*/

// * Estilo estandar para titulos
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
h1, h2, h3, h4, h5, h6
    font-style inherit
    font-weight inherit
    text-rendering optimizelegibility
    margin 0

// * Titulo principal
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
h1
    font-size 2.4rem

// * Subtitulo
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
h2
    font-size 2.2rem

// * Subtitulos
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
h3
    font-size 2.0rem

h4
    font-size 1.8rem

h5
    font-size 1.6rem

h6
    font-size 1.4rem

/*
* hr
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
*/
hr
    border 0


/*
* Margen por defecto en parrafos
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
*/
p
    margin 0

/*
* Estilos estandar para enlaces
* ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
* @author Luis Gdonis <http://ldonis.com>
* @since 2.0.0
*/
a
    text-decoration none
    color inherit

    &:visited
        color inherit
