# Lesli
#
# Copyright (c) 2023, Lesli Technologies, S. A.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see http://www.gnu.org/licenses/.
#
# Lesli · Ruby on Rails SaaS Development Framework.
#
# Made with ♥ by https://www.lesli.tech
# Building a better future, one line of code at a time.
#
# @contact  hello@lesli.tech
# @website  https://www.lesli.tech
# @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
#
# // · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
# // · 


# Specs for Lesli Core
# -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-
name: "Lesli specs workflow"
on:


  # execute this workflow only when trying to merge from dev branch to master
  pull_request:
    branches: [master, production]


  # execute this workflow when pushing to master—temporarily, nobody should push to master :D
  push:
    branches: [master]


  # run a test daily at 1 am (Guatemala time)
  #schedule:
  #  - cron: "0 1 * * *"


  # Allow to execute this test manually from the Github web app
  workflow_dispatch:

jobs:

  test:
    name: Test workflow for lesli-css
    runs-on: ubuntu-latest


    # Do not execute the test if requests comes from another action
    if: ${{ !contains(github.event.head_commit.message, 'ci(workflows):') && !contains(github.event.head_commit.message, 'release(gem):') && !contains(github.event.head_commit.message, 'assets(js):') }}


    steps:

      # Clone the current repository
      - name: Checkout lesli-css repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}


      # Use the official receipt to install ruby in ubuntu
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}


      # Install node dependencies needed for vue tests
      - name: Install Nodejs modules
        run: npm install


      # Run Vue tests
      - name: Run tests
        run: npm run test


      # Run Vue coverage
      - name: Generate coverage report
        run: npm run test:coverage


      # Collect test coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: LesliTech/lesli-css
